.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.word {
    font-size: 48px;
    animation: danceAnimation 1.5s ease-in-out infinite alternate;
    margin: 10px;
    color: #0D2147;
}

@keyframes danceAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}